body{
  background-color : gray;}   #header{background-color: white;}

#h{
  display: block;
     margin-left: auto;
     margin-right: auto;
}
#o{
  text-align: center;
}
#q{
  display: block;
     margin-left: auto;
     margin-right: auto;
}
#t{
  text-align: center;
}

#fitness {
  background-color: beige;
  width: 1000px;
  border: solid orange;
  padding: 10px;
  margin-left: 60px;
  margin: 0 auto;
  color: gray;
  font-size: 20px;
  font-family: tahoma;
  font-style: italic;
}
#g{text-align: center;}
li{
  display: inline-block;
  padding: 25px;
}
ul{
  text-align: center;
}
#b {  text-align: center;}

#n{ display: block;
   margin-left: auto;
   margin-right: auto;}
#v{
  display: block;
  margin-left: auto;
  margin-right: auto;}

#nutrition {
  background-color: beige;
  width: 1000px;
  border: solid orange;
  padding: 10px;
  margin-left: 60px;
  margin: 0 auto;
  color: gray;
  font-size: 20px;
  font-family: tahoma;
  font-style: italic;}

#supps{
  background-color: beige;
  width: 1000px;
  border: solid orange;
  padding: 10px;
  margin-left: 60px;
  margin: 0 auto;
  color: gray;
  font-size: 20px;
  font-family: tahoma;
  font-style: italic;}
#b{color: maroon;}
